body {
  font-family: "Varela Round", sans-serif;
  margin: 10px 30px 50px 30px;
  padding: 20px auto;
}

h2,
h3 {
  line-height: 28.8px;
  font-weight: 100;
  color: #48484a;
  margin: 0px 0px 0px 5px;
}
h2 {
  font-size: 24px;
}

h3 {
  font-size: 17px;
}

footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: black;
  padding: 0;
  margin: 10px 10px 10px 10px;
}

.container {
  border-radius: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1140px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 40px 20px 20px 20px;
  border: 3px solid;
  border-radius: 20px;
  border-color: #48484a;
}

#description {
  text-align: center;
  margin-top: -20px;
  font-size: 12px;
  margin-bottom: 0;
}

.row {
  text-align: center;
}

.col-5 {
  padding: 0;
}

.card-body {
  text-align: center;
}
.card-title {
  text-align: center;
  font-size: 17px;
}
.card-text {
  text-align: center;
  font-size: 13px;
  margin: 10px 0px;
  line-height: 0.5;
}
.feels-like {
  font-size: 14px;
  margin: -15px 0px 40px 80px;
}

.fa-wind {
  color: #b7b7b8;
  font-size: 25px;
  text-align: center;
}

.fa-water {
  color: #b7b7b8;
  font-size: 25px;
  text-align: center;
}

.fa-circle {
  color: #ffa17f;
  font-size: 25px;
  text-align: center;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
}

.units {
  position: relative;
  top: -32px;
  font-size: 20px;
}

.current-weather {
  color: black;
  font-size: 64px;
  font-weight: 400;
}

.current-temp {
  color: rgb(33, 37, 41);
  display: inline;
  font-size: 65px;
  font-weight: 400;
  line-height: 52.5px;
  margin: 0px -18px 0px 0px;
  padding: 0px 0px 0px 100px;
}

.min-temp {
  font-size: 15px;
  color: #6c757d;
}

.max-temp {
  font-size: 17px;
  color: black;
}

.forecast-background {
  background: url(../images/forecast_background.jpg);
  background-repeat: no-repeat;
  line-height: 1;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0 0 0 0.75);
  height: 185px;
  background-size: cover;
}

.top-space-forecast-white {
  margin-top: 15px;
  line-height: 4.6;
}

#white {
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.forecast {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-forecast {
  width: 100%;
}

.weather-forecast h3 {
  color: #48484a;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 55px;
  width: 55px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb (135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
